<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= file["meta"]["title"] %></title>

    <%- include("head.ejs") %>
  </head>
  <body>
    <%- include("header.ejs", {settings}) %>
    <div class="container">
      <div class="row">
        <div class="col order-md-first content-col">
          <h1 class="heading"><%- file["meta"]["title"] %></h1>
          <p id="short_description"><%- file["content"]["summary"] %></p>

          <div class="toc" id="toc"></div>

          <div class="content swing-in-top-fwd-content" id="content">
            <%- file["content"]["full"] %>
          </div>
        </div>
        <div class="col col-auto">
          <div class="sticky">
            <div class="infobox">
              <div class="heading">
                <h2 id="heading-title" class="tracking-in-expand">
                  <%- file["meta"]["title"] %>
                </h2>
                <h1 class="infobox-subtitle slide-in-top">
                  <%- file["meta"]["subtitle"] %>
                </h1>
              </div>
              <div class="infobox-gallery swing-in-top-fwd">
                <div class="gallery-tabs">
                  <% Object.keys(infoboxImages).forEach((key, index) => { %>
                  <div class="gallery-tab <%= index === 0 ? 'active' : '' %>">
                    <%= key %>
                  </div>
                  <% }); %>
                </div>
                <!-- prettier-ignore -->
                <% Object.entries(infoboxImages).forEach(([key, value], index) => { %>
                <img
                  src="<%= value %>"
                  class="infobox-img <%= index === 0 ? 'active' : '' %>"
                  alt="<%= key %>"
                />
                <% }); %>
              </div>

              <% Object.entries(infoboxtemplate).forEach(([category, fields]) =>
              { %> <% if (file.infobox && Object.keys(file.infobox).some(key =>
              key in fields)) { %>
              <div class="infobox-group">
                <div class="heading">
                  <h3><%= category %></h3>
                </div>
                <div class="infobox-data">
                  <% Object.entries(fields).forEach(([field, fieldName]) => { %>
                  <% if (field in file.infobox) { %>
                  <div class="infobox-datarow">
                    <p class="data-heading"><%- fieldName %></p>
                    <ul class="data-content">
                      <li><%- file.infobox[field] %></li>
                    </ul>
                  </div>
                  <% } %> <% }) %>
                </div>
              </div>
              <% } %> <% }) %>
            </div>
            <div class="buttons-infobox">
              <div class="infobox-button" id="generate_dox_button">
                Plain text
              </div>
              <div class="infobox-button" id="edit_button">Edit</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="/scripts.js"></script>
  <script>
    generateToc();

    document.getElementById("edit_button").addEventListener("click", () => {
      document.location.href = "/wiki/<%= fileName %>/edit";
    });
  </script>
</html>
